@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

.clara-bg__light {
    background-color: #f9f9fa;
}

.clara-bg__dark {
    background-color: #44454a;
}

.clara-surface__dark {
    background-color: #5f6269;
}

.clara-text__light {
    color: #141426;
}

.clara-text__dark {
    @apply text-white;
}

.clara-text__dark ::selection {
    @apply clara-text__light;
    background-color: white;
}

.flex-center {
    @apply flex justify-center items-center;
}

button {
    @apply select-none focus:outline-none;
}

/* Font */

/* Font-Face */
@font-face {
    font-family: "MyEllipsis";
    font-weight: normal;
    src: local("YuMin-Medium"), local("YuMincho-Regular");
    unicode-range: U+2026;
}

@font-face {
    font-family: "MyEllipsis";
    font-weight: bold;
    src: local("YuMin-Demibold"), local("YuMincho-Demibold");
    unicode-range: U+2026;
}

@font-face {
    font-family: "MyBoxDrawings";
    font-weight: normal;
    src: local("YuMin-Medium"), local("YuMincho-Regular");
    unicode-range: U+203C, U+2047, U+2048, U+2049, U+2500;
}

@font-face {
    font-family: "MyBoxDrawings";
    font-weight: bold;
    src: local("YuMin-Demibold"), local("YuMincho-Demibold");
    unicode-range: U+203C, U+2047, U+2048, U+2049, U+2500;
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: normal;
    src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: bold;
    src: local("YuGothic-Bold"), local("Yu Gothic");
}

/* Font-Set */
.mincho {
    font-family: MyEllipsis, MyBoxDrawings, "Times New Roman", TimesNewRoman, "Yu Mincho", YuMincho, serif;
}

.gothic {
    font-family: MyEllipsis, MyBoxDrawings, "Helvetica Neue", Helvetica, Arial, "MyYuGothicM", YuGothic, sans-serif;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
